body{
    background:#f2f2f2;
    font-family:Arial, Helvetica, sans-serif;
}

/* HEADER */
header{
    text-align:center;
    padding:20px;
    background:white;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
    font-weight:bold;
}

input, select, textarea{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    box-sizing:border-box;
}

.radio-group,
.checkbox-group{
    background:#f3f3f3;
    padding:10px;
    border-radius:6px;
    margin-bottom:10px;
}

.buttons{
    display:flex;
    gap:10px;
}

.send{
    background:#1e73d8;
    color:white;
    border:none;
    padding:10px;
    flex:1;
}

.reset{
    background:#e63946;
    color:white;
    border:none;
    padding:10px;
    flex:1;
}

/* MENU */
nav{
    background:#ddd;
}

nav ul{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

nav ul li{
    display:inline-block;
    margin:10px;
}

nav ul li a{
    text-decoration:none;
    color:black;
    padding:8px 15px;
}

/* hover efekti */
nav ul li a:hover{
    background:#a1a1a1;
    color:white;
}

.contact-container{
    width:600px;
    margin:auto;
    background:white;
    padding:25px;
    border:1px solid #ccc;
    border-radius:10px;
}

.contact-container h2{
    text-align:center;
}

/* 2 sütun layout */
.container{
    width:80%;
    margin:20px auto;
    display:flex;
    gap:20px;
}

/* content */
.content{
    width:70%;
    background:#ffe7b3;
    padding:15px;
}

/* sidebar */
.sidebar{
    width:30%;
    background:#d9edf7;
    padding:15px;
}

/* footer */
footer{
    text-align:center;
    padding:15px;
    background:#ddd;
    margin-top:20px;
}

/* GROUP SELECTOR */
h1,h2,p{
    line-height:1.6;
}

/* HIERARCHICAL SELECTOR */
.content p{
    text-align:justify;
}
